<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fox.avisys.mapper.AutoFloor_AVI_WarningMapper" >
  <resultMap id="BaseResultMap" type="com.fox.avisys.entity.AutoFloor_AVI_Warning" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="FLOOR" property="floor" jdbcType="VARCHAR" />
    <result column="PRODUCT" property="product" jdbcType="VARCHAR" />
    <result column="LINENAME" property="linename" jdbcType="VARCHAR" />
    <result column="INPUTTIME" property="inputtime" jdbcType="TIMESTAMP" />
    <result column="STATION" property="station" jdbcType="VARCHAR" />
    <result column="TTYPE" property="ttype" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="WARNING" property="warning" jdbcType="VARCHAR" />
    <result column="P1" property="p1" jdbcType="VARCHAR" />
    <result column="P2" property="p2" jdbcType="VARCHAR" />
    <result column="P3" property="p3" jdbcType="VARCHAR" />
    <result column="P4" property="p4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FLOOR, PRODUCT, LINENAME, INPUTTIME, STATION, TTYPE, VERSION, WARNING, P1, P2, 
    P3, P4
  </sql>
  <select id="selectMachinieType" resultMap="BaseResultMap"  >
    <![CDATA[
        SELECT * FROM ( SELECT LineName,InputTime,Station,Warning FROM   AUTOFLOOR_AVI_WARNING
        WHERE inputtime >= to_date('${startdate}','YYYY/MM/DD HH24:MI:SS')-2/24
        and inputtime < to_date('${enddate}','YYYY/MM/DD HH24:MI:SS')
        and LineName = #{linename}
        and station=#{station}
        group by LineName,InputTime,Station,Warning
        ORDER BY INPUTTIME DESC)
        WHERE ROWNUM=1
    ]]>
  </select>
  <select id="selectMachinieWarning" resultMap="BaseResultMap"  >
    <![CDATA[
        SELECT * FROM (SELECT LineName,InputTime,Station,Warning FROM   AUTOFLOOR_AVI_WARNING
        WHERE inputtime >= to_date('${startdate}','YYYY/MM/DD HH24:MI:SS')
        and inputtime < to_date('${enddate}','YYYY/MM/DD HH24:MI:SS')
        and Floor = #{FloorName}
        AND WARNING!='OK'
        AND WARNING!='CLOSE'
        AND WARNING!='QUIT'
        ORDER BY INPUTTIME DESC)
        WHERE ROWNUM<=3
    ]]>
  </select>

</mapper>