<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fox.testsys.mapper.AUTOFLOOR_Robot_EfficiencyMapper" >
  <resultMap id="BaseResultMap" type="com.fox.testsys.entity.AUTOFLOOR_Robot_Efficiency" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="FLOOR" property="floor" jdbcType="VARCHAR" />
    <result column="PRODUCT" property="product" jdbcType="VARCHAR" />
    <result column="LINE_NAME" property="lineName" jdbcType="VARCHAR" />
    <result column="SLANT_TIME" property="slantTime" jdbcType="DECIMAL" />
    <result column="SLANT_COUNT" property="slantCount" jdbcType="DECIMAL" />
    <result column="WAIT_TIME" property="waitTime" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="ROBOTEfficiencyTime" resultMap="BaseResultMap">
  <![CDATA[
    select  SUBSTR(LINE_NAME,0,10)as LINE_NAME,SUM(SLANT_TIME) as SLANT_TIME  from  AUTOFLOOR_ROBOT_EFFICIENCY
    where UPDATE_TIME >= to_date('${startdate}','YYYY/MM/DD HH24:MI:SS')
    and UPDATE_TIME < to_date('${enddate}','YYYY/MM/DD HH24:MI:SS')
    and FLOOR = #{floorname}
    GROUP BY Line_Name
     ]]>
  </select>

  <select id="ROBOTCellEfficiencyTime" resultMap="BaseResultMap">
  <![CDATA[
      select  LINE_NAME,SUM(SLANT_TIME) as SLANT_TIME  from  AUTOFLOOR_ROBOT_EFFICIENCY
      where UPDATE_TIME >= to_date('${startdate}','YYYY/MM/DD HH24:MI:SS')
      and UPDATE_TIME < to_date('${enddate}','YYYY/MM/DD HH24:MI:SS')
      and LINE_NAME like #{floorname}||'%'
      GROUP BY Line_Name
     ]]>
  </select>


  <select id="LineWaitPlateTime" resultMap="BaseResultMap">
  <![CDATA[
    SELECT substr(UPDATE_TIME,9,2) as Time,WAIT_TIME FROM(
      SELECT to_char(t.UPDATE_TIME,'yyyymmddhh24')as UPDATE_TIME  ,sum(t.WAIT_TIME)as WAIT_TIME  from  AUTOFLOOR_ROBOT_EFFICIENCY t
      where UPDATE_TIME >= to_date('${startdate}','YYYY/MM/DD HH24:MI:SS')
      and UPDATE_TIME < to_date('${enddate}','YYYY/MM/DD HH24:MI:SS')
      and FLOOR=#{floorname}
      and LINE_NAME like #{linename}||'%'
      GROUP BY to_char(t.UPDATE_TIME,'yyyymmddhh24'))
      ORDER BY UPDATE_TIME asc
     ]]>
  </select>


</mapper>