<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fox.keyParameter.mapper.AutoFloorKeyCheckupMapper" >
  <resultMap id="BaseResultMap" type="com.fox.keyParameter.entity.AutoFloorKeyCheckup" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="PRODUCT" property="product" jdbcType="VARCHAR" />
    <result column="FLOOR" property="floor" jdbcType="VARCHAR" />
    <result column="LINENAME" property="linename" jdbcType="VARCHAR" />
    <result column="WORKSTATION" property="workstation" jdbcType="VARCHAR" />
    <result column="MACHINETYPE" property="machinetype" jdbcType="VARCHAR" />
    <result column="KEY_PMS_EN" property="keyPmsEn" jdbcType="VARCHAR" />
    <result column="KEY_PMS_CH" property="keyPmsCh" jdbcType="VARCHAR" />
    <result column="SPEC" property="spec" jdbcType="VARCHAR" />
    <result column="SPEC_MIN" property="specMin" jdbcType="VARCHAR" />
    <result column="SPEC_MAX" property="specMax" jdbcType="VARCHAR" />
    <result column="KEY_VAL" property="keyVal" jdbcType="VARCHAR" />
    <result column="CHECK_RESULT" property="checkResult" jdbcType="VARCHAR" />
    <result column="TESTTIME" property="testtime" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="COMPONENTTYPE" property="componenttype" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="DECIMAL" />
    <result column="REPAIR_CONTENT" property="repairContent" jdbcType="VARCHAR" />
    <result column="REPAIR_END_TIME" property="repairEndTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="getKeyUpData" resultMap="BaseResultMap" parameterType="String">

    SELECT * FROM AUTOFLOOR_KEY_CHECKUP
    WHERE <![CDATA[ TO_DATE (TESTTIME, 'yyyy/MM/dd hh24:mi:ss') >=TO_DATE (#{startTime}, 'yyyy/MM/dd hh24:mi:ss')
    and TO_DATE (TESTTIME, 'yyyy/MM/dd hh24:mi:ss') < TO_DATE (#{endTime}, 'yyyy/MM/dd hh24:mi:ss')
            ]]>
    and floor=#{floor}
    <if test="lineName!='All' and lineName!=null">
        and LINENAME=#{lineName}
    </if>
    <if test="flag != '' and flag!=null" >
      and FLAG = #{flag}
    </if>
    AND MACHINETYPE !='VISRDO'
    and Check_Result='NG'
    ORDER BY WORKSTATION ASC,MACHINETYPE DESC,KEY_PMS_EN DESC,KEY_PMS_CH DESC

  </select>



  <update id="updateErrorMsg">
    update AUTOFLOOR_KEY_CHECKUP
    set   FLAG=#{flag},
    REPAIR_END_TIME= TO_DATE(#{UpDateTime}, 'yyyy/MM/dd hh24:mi:ss')
    <if test="content!=null and content!=''">
      , REPAIR_CONTENT=#{content}
    </if>
    WHERE ID=#{id}
    AND MACHINETYPE !='VISRDO'
  </update>


  <select id="getUpdataId" resultMap="BaseResultMap" resultType="String">
     select  * from  AUTOFLOOR_KEY_CHECKUP
    where  id=#{id}
    AND MACHINETYPE !='VISRDO'
  </select>
</mapper>