
/*轮播*/
.lb_gl{
	height: 50%;
	width: 100%;
	align-self: center;
}
.container{width: 100%;height: 50%;}
.pictureSlider{height: 50%;transform: rotate(90deg)  translateY(25%) translateX(-25%);}
/*.poster-list{*/
/*	width: 100%;*/
/*	height: 50%;*/
/*}*/
.poster-item{background: #fff;height: 40%;width:80%;border-radius: 10px;padding:45px 23px 20px 23px;
	transition: all 0.5s;cursor: default;
	-moz-transition: all 0.5s;cursor: default;
	-webkit-transition: all 0.5s;cursor: default;
	-o-transition: all 0.5s;cursor: default;
	transform: rotate(-90deg);
	overflow: hidden;
}
.turn_3d{text-align: center;color: #fff;font-size: 36px;padding: 28px 0;}
.xxgy{font-size: 30px;padding-left: 10px;}
.poster-item .say{font-size: 18px;margin-bottom: 5px;padding-left: 10px;}
.students_star{padding:10px 10px 0 10px ;}
.cell_list{margin-bottom: 20px;color:#999;font-size: 18px;overflow: hidden;}
.darks{color: #000;padding-left: 10px;}
.zwjs{border-top:1px solid #d0cddb;padding-top: 5px;color: #999;font-size: 12px;overflow: hidden;}
.for_btn{position: relative;overflow:hidden}
.in_page{position: absolute;left: 50%;top:50%;width:40px;height: 40px;margin-left: -20px;margin-top: -20px;}
.in_page>img{width: 40px;height: 40px;}

.check_more{width: 180px; line-height: 50px;text-align: center;color:#fff;background: #bc241d;margin:0 auto;display: block;}

