/*轮播*/
.lb_gl {
    height: 100%;
    width: 100%;
    align-self: center;
    /*white-space:nowrap;*/
    /*overflow:scroll;*/
    /*text-overflow:ellipsis;*/
}

.container {
    width: 100%;
    height: 100%;
}

.pictureSlider {
    height: 100%;
    transform: rotate(90deg) translateY(26%) translateX(7.9vh);
}

/*.poster-list{*/
/*	width: 100%;*/
/*	height: 50%;*/
/*}*/
.poster-item {
    background: #fff;
    height: 45.2%;
    width: 80.9%;
    border-radius: 10px;
    /*padding:45px 23px 20px 23px;*/
    transition: all 0.5s;
    cursor: default;
    /*-moz-transition: all 0.5s;*/
    /*cursor: default;*/
    /*-webkit-transition: all 0.5s;*/
    /*cursor: default;*/
    /*-o-transition: all 0.5s;*/
    /*cursor: default;*/
    transform: rotate(-90deg);
    overflow: scroll;
}
.zturn-item{

    display: flex;
}
.turn_3d {
    text-align: center;
    color: #fff;
    font-size: 36px;
    padding: 28px 0;
}

.xxgy {
    font-size: 30px;
    padding-left: 10px;
}

.poster-item .say {
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.students_star {
    padding: 10px 10px 0 10px;
}

.cell_list {
    margin-bottom: 20px;
    color: #999;
    font-size: 18px;
    overflow: hidden;
}

.darks {
    color: #000;
    padding-left: 10px;
}

.zwjs {
    border-top: 1px solid #d0cddb;
    padding-top: 5px;
    color: #999;
    font-size: 12px;
    overflow: hidden;
}

.for_btn {
    height: 100%;
    width: calc( 100% - 11.81%);
    position: relative;
    overflow: scroll;
    background-color: #DF7178;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #F0F0F0;
    letter-spacing: 0.43px;
}
.liName{
    display: flex;
    height: 100%;
    width: 11.81%;
    position: relative;
    overflow: scroll;
    background-color: #E02020;
    font-family: PingFangSC-Bold;
    font-size: 18px;
    color: #F0F0F0;
    letter-spacing: 0.64px;
}
.in_page {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

.in_page > img {
    width: 40px;
    height: 40px;
}

.check_more {
    width: 180px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #bc241d;
    margin: 0 auto;
    display: block;
}

.poster-list{
    width: 100%;
    height: 100%;
}