a, body, button, div, dl, dt, h1, h2, h3, h4, h5, h6, input, li, p, select, textarea, ul {
    margin: 0;
    padding: 0;
    outline: none;
}


html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("../img/backgroundImg.png");
    background-size: 100%;
    background-repeat: repeat-y;
}

/*@media screen and (max-width: 768px) {*/
/*    html {*/
/*        width: 768px;*/
/*    }*/

/*    body {*/
/*        width: 768px;*/
/*    }*/
/*}*/


/*!*头部*!*/
/*.topTitle{*/
/*    background-color: #FFFFFF;*/
/*    display: flex;*/
/*    height: 6.5%;*/
/*}*/
/*.topTitleDiv1{*/
/*    align-self: center;*/
/*    width: 27.5%;*/
/*    white-space:nowrap;*/
/*    text-overflow:ellipsis;*/
/*}*/
/*.topTitleDiv2{*/
/*    text-align: center;*/
/*    height: 80%;*/
/*    width: 45%;*/
/*    align-self: center;*/
/*    white-space:nowrap;*/
/*    text-overflow:ellipsis;*/
/*    color: #179BFF;*/
/*    font-size: 3vh;*/

/*}*/

/*.topTitleDiv3{*/
/*    width: 26.5%;*/
/*    height: 80%;*/
/*    text-align: left;*/
/*    margin-right: 1%;*/
/*    align-self: center;*/
/*    white-space:nowrap;*/
/*    text-overflow:ellipsis;!** 多出的内容...显示  **!*/
/*    font-size: 2vh;*/
/*    color: black;*/
/*    overflow: hidden;!** 溢出时出现滚动条 **!*/
/*}*/



/*主体内容*/
.content{
    position: absolute;
    top: 4%;
    left: 2%;
    background-color: #E6E6E6;
    /*margin: 4% 2% 4% 2%;*/
    /*margin: 2%;*/
    /*margin-top: 4%;*/
    width:96%;
    height: calc(100% - 8%);
    border-radius: 16px;

}

/*搜索*/
.contentSeek{
    display: flex;
    /*background-color: #FFFFFF;*/
    width: 100%;
    height: 9%;
    border-bottom:1px solid #1343A0;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
    border-radius: 16px 16px 0px 0px;

}

.selectBox1{
    width: 30%;
    align-self: center;
    white-space:nowrap;text-overflow:ellipsis;
    margin-left: 2%;

}
.selectBox2{
    width: 30%;
    align-self: center;
    white-space:nowrap;text-overflow:ellipsis;

}
/*.layui-form-label1 {*/
/*    float: left;*/
/*    display: block;*/
/*    padding: 4% 7%;*/
/*    width: 27%;*/
/*    font-size: 100%;*/
/*    align-self: center;*/
/*    white-space:nowrap;text-overflow:ellipsis*/


/*}*/
.layui-input-block1 {
    display: flex;
    width: 100%;
    align-self: center;
    height: 100%;


}
.layui-form-item {
    height: 40.12%;
    display: flex;
    clear: both;
    *zoom: 1;
    align-self: center;
    margin-bottom: 0px;
}



/*下拉框边框颜色*/
.layui-form-select{
    margin-left: 4%;
    width: 62.4%;
}
.layui-form-select .layui-input{
    border: 1px solid black;
    border-radius: 6px;
    height: 100%;
}
.layui-unselect,.layui-select-title{
    height: 100%;
}



/*button颜色 阴影效果*/
.layui-btn-warm {
    display: flex;
    background-color: #F7B500;
    box-shadow: 1px 2px 2px 1px #A2A2A2;
    border-radius: 8px;
    width: 13.57%;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FAFAFA;
    height: 40.1%;
    margin-right: 10%;
    /*margin-left: 10%;*/
    align-self: center;
}


/*异常进度分析*/
.contentErrorAnalyse{
    display: flex;
    /*padding: 1%;*/
    margin-left: 0.8%;
    margin-right: 0.8%;
    background-color: #FFFFFF;
    width: 98.4%;
    height: 84%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 3px 3px 1px #A2A2A2;



}
.contentErrorAnalyseNei{
    margin-left: 1%;
    align-self: center;
    width: 98%;
    height: 94%;
    /*padding: 1%;*/
    white-space:nowrap;
    overflow:scroll;
    text-overflow:ellipsis;
}



/*异常报警信息*/
.contentErrorMsg{
    display: flex;
    /*padding: 1%;*/
    margin-left: 0.8%;
    margin-right: 0.8%;
    background-color: #FFFFFF;
    width: 98.4%;
    height: 92%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 3px 3px 1px #A2A2A2;

}
.contentErrorMsgNei{
    margin-left: 1%;
    align-self: center;
    width: 98%;
    height: 96%;
    /*padding: 1%;*/
    white-space:nowrap;
    overflow:scroll;
    text-overflow:ellipsis;
}



.table1{
    /*align-self: center;*/
    margin: auto;
    /*height: 100%;*/
    width: 100%;
    font-family: PingFangSC-Regular;
}
.table1,.table1 tr th ,.table1 tr td {

    text-align: center;
    border: 1px solid white;
    font-family: PingFangSC-Regular;
    padding: 8px;

}
.table1 thead tr {
    width: 100%;
    background: #0091FF;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #F0F0F0;
}

.table1 tbody tr {
    font-size: 14px;
    background-color: #EAF0FD;
    color: black;
    font-family: PingFangSC-Regular;
}


.table2{
    width: 200%;
}

/*.table2,.table2 tr th ,.table2 tr td {*/
/*    font-size: 16px;*/
/*    padding: 10px;*/
/*    font-family: PingFangSC-Regular;*/
/*}*/





/*选择框*/
.layui-form-select dl{
    top: 110%;
    max-height: 153px;
    padding: 0;
}
.layui-form-select dl dd{
    line-height: 30px;
}

.errorNum tr td:hover{
    cursor: pointer;
}


.upErrorClass{
    margin-top: 2vh;
    height:5vh;
}



/*.btnClass .layui-layer-title{*/
/*    height: 5vh;*/
/*    line-height: 5vh;*/

/*}*/

/*.btnClass .layui-layer-setwin a{*/
/*    top: -3vh;*/

/*}*/

/*.btnClass .layui-layer-setwin{*/
/*    top: 4.5vh;*/
/*}*/

/*.btnClass .layui-layer-content{*/
/*    height: 10vh;*/
/*}*/

.layui-form-select dl dd{
    border-bottom: 1px solid #808080;
    letter-spacing: 0.12rem;
}

input::-webkit-input-placeholder{
    color:#000000;
}

.layui-form-select dl dd.layui-this {
     background-color: #fff;
    color: #000000;
}

.option1{
    border: white;
}


.layui-form-selected .layui-edge {
    margin-top: -3px;
    -webkit-transform: rotate(0deg);



}
.layui-form-select .layui-edge {

    display: inline-block;
    width: .1rem;
    height: .1rem;
    border-top: .02rem solid #000;
    border-left: .02rem solid #000;
    opacity: .8;
    position: absolute;
    margin-top: .09rem;
    right: .195313rem;
    transform: rotate(-135deg);
    z-index: 99;
}
.layui-edge{
    display: inline-block;
    width: .1rem;
    height: .1rem;
    border-top: .02rem solid #000;
    border-left: .02rem solid #000;
    opacity: .8;
    position: absolute;
    margin-top: .09rem;
    right: .195313rem;
    transform: rotate(-135deg);
    z-index: 99;
}