a, body, button, div, dl, dt, h1, h2, h3, h4, h5, h6, input, li, p, select, textarea, ul {
    margin: 0;
    padding: 0;
    outline: none;
}


html {
    width: 100%;
    height: calc( 100% - 0.6rem);
    font-size: 100px;
}

body {
    width: 100%;
    height: 100%;

}
.app{
    width: 100%;
    height: 100%;
    background-image: url("../img/backgroundImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%

}



/*主体内容*/
.content{
    position: absolute;
    top: 3.1%;
    left: 3.1%;
    background-color: #E6E6E6;
    /*margin: 4% 2% 4% 2%;*/
    /*margin: 2%;*/
    /*margin-top: 4%;*/
    width:93.8%;
    height: calc( 100% - 0.6rem - 6.2%);
    border-radius: 16px;

}

/*搜索*/
.contentSeek{
    display: flex;
    /*background-color: #FFFFFF;*/
    width: 100%;
    height: 9%;
    border-bottom:1px solid #1343A0;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
    border-radius: 16px 16px 0px 0px;

}

.selectBox1{
    width: 30%;
    align-self: center;
    white-space:nowrap;text-overflow:ellipsis;
    margin-left: 2%;

}
.selectBox2{
    width: 30%;
    align-self: center;
    white-space:nowrap;text-overflow:ellipsis;

}
/*.layui-form-label1 {*/
/*    float: left;*/
/*    display: block;*/
/*    padding: 4% 7%;*/
/*    width: 27%;*/
/*    font-size: 100%;*/
/*    align-self: center;*/
/*    white-space:nowrap;text-overflow:ellipsis*/


/*}*/
.layui-input-block1 {
    display: flex;
    width: 100%;
    align-self: center;
    height: 100%;


}
.layui-form-item {
    height: 44.44%;
    display: flex;
    clear: both;
    *zoom: 1;
    align-self: center;
    margin-bottom: 0px;
}



/*下拉框边框颜色*/
.layui-form-select{
    margin-left: 4%;
    width: 64.785%;
}
.layui-form-select .layui-input{
    border: 1px solid grey;
    border-radius: 6px;
    height: 100%;
}
.layui-input:hover{
    border-color: grey;
}

.layui-unselect,.layui-select-title{
    height: 100%;
}

.selectFloor,option{
    font-family: PingFangSC-Regular;
    font-size: 16px !important;
    color: rgba(0,0,0,0.50);
    line-height: 21px;
}
.selsetLine, option{
    font-family: PingFangSC-Regular;
    font-size: 16px !important;
    color: rgba(0,0,0,0.50);
    line-height: 21px;
}

/*button颜色 阴影效果*/
.layui-btn-warm {
    display: flex;
    background-color: #F7B500;
    box-shadow: 1px 2px 2px 1px #A2A2A2;
    border-radius: 8px;
    width: 14%;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FAFAFA;
    height: 44.39%;
    margin-right: 10%;
    /*margin-left: 10%;*/
    align-self: center;
}


/*异常进度分析*/
.contentErrorAnalyse{
    display: flex;
    /*padding: 1%;*/
    margin-left: 0.8%;
    margin-right: 0.8%;
    background-color: #FFFFFF;
    width: 98.4%;
    height: 84%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 3px 3px 1px #A2A2A2;



}
.contentErrorAnalyseNei{
    margin-left: 1%;
    align-self: center;
    width: 98%;
    height: 94%;
    /*padding: 1%;*/
    white-space:nowrap;
    overflow:scroll;
    text-overflow:ellipsis;
}



/*异常报警信息*/
.contentErrorMsg{
    display: flex;
    /*padding: 1%;*/
    margin-left: 0.8%;
    margin-right: 0.8%;
    background-color: #FFFFFF;
    width: 98.4%;
    height: 92%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 3px 3px 1px #A2A2A2;

}
.contentErrorMsgNei{
    margin-left: 1%;
    align-self: center;
    width: 98%;
    height: 96%;
    /*padding: 1%;*/
    white-space:nowrap;
    overflow:scroll;
    text-overflow:ellipsis;
}



.table1{
    /*align-self: center;*/
    margin: auto;
    /*height: 100%;*/
    width: 100%;
    font-family: PingFangSC-Regular;
}
.table1,.table1 tr th ,.table1 tr td {

    text-align: center;
    border: 1px solid white;
    font-family: PingFangSC-Regular;
    padding: 8px;

}
.table1 thead tr {
    width: 100%;
    background: #0091FF;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #F0F0F0;
}

.table1 tbody tr {
    font-size: 14px;
    background-color: #EAF0FD;
    color: black;
    font-family: PingFangSC-Regular;
}


.table2{
    width: 200%;
}

/*.table2,.table2 tr th ,.table2 tr td {*/
/*    font-size: 16px;*/
/*    padding: 10px;*/
/*    font-family: PingFangSC-Regular;*/
/*}*/





/*选择框*/
.layui-form-select dl{
    /*border-left: 1px solid #808080;*/
    /*border-rigth: 1px solid #808080!important;*/
    top: 110%;
    max-height: 153px;
    padding: 0;
}
.layui-form-select dl{
    border: 1px solid #808080;
    border-top: 0px solid #808080;
    border-left: 1px solid #808080;
    border-rigth: 1px solid #808080;
    border-bottom: 0px solid #808080;
}
.layui-form-select dl dd{
    line-height: 30px;
}

.errorNum tr td:hover{
    cursor: pointer;
}


.upErrorClass{
    margin-top: 2vh;
    height:5vh;
}




.layui-form-select dl dd{
    border-bottom: 1px solid #808080;
    letter-spacing: 0.12rem;
}

input::-webkit-input-placeholder{
    color:#000000;
}

.layui-form-select dl dd.layui-this {
     background-color: #fff;
    color: #000000;
}

.option1{
    border: none;
}


.layui-form-selected .layui-edge {
    margin-top: -3px;
    -webkit-transform: rotate(0deg);



}
.layui-form-select .layui-edge {

    border-style:none;
}
.layui-edge{

}

.sanJiao1{
    display: inline-block;
    position: absolute;
    width: 0.98vh;
    height: 0.98vh;
    background-color: rgba(255,255,255,.7);
    z-index: 99;
    top: 3.02vh;
    left: 21.5vw;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(135deg);
}

.sanJiao2{
    display: inline-block;
    position: absolute;
    width: 0.98vh;
    height: 0.98vh;
    background-color: rgba(255,255,255,.7);
    z-index: 99;
    top: 3.02vh;
    left: 46vw;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(135deg);
}

.layui-form-selectup dl {
    bottom: auto;
}


.layui-input:hover, .layui-textarea:hover {
    border-color: grey!important;
}
.layui-btn:active{
    background-color: #F77800;
}
.layui-btn{
    background-color: #F7B500;
}


.layui-anim-upbit {
    -webkit-animation-name: auto;
    animation-name: auto;
}

















.select[data-v-170a700c] {
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .1rem;
    box-sizing: border-box;
    position: relative;
}


.select>li[data-v-170a700c] {
    position: relative;

}


.select>li>span[data-v-170a700c] {
    margin-right: 2.71267vw;
    opacity: .8;
}


.select>li>input[data-v-170a700c] {
    width: 17.97vw;
    height: 3.321vh;
    line-height: .364583rem;
    text-indent: .104167rem;
    border-radius: .052083rem;
    border: 1px solid grey;
}

.select>li>i[data-v-170a700c] {
    display: inline-block;
    width: 0.98vh;
    height: 0.98vh;
    border-top: .02rem solid #000;
    border-left: .02rem solid #000;
    opacity: .8;
    position: absolute;
    margin-top: 0.9vh;
    right: .195313rem;
    transform: rotate(
            -135deg
    );
}


.select>li .floor-list[data-v-170a700c], .select>li .line-list[data-v-170a700c] {
    width: 17.97vw;
    height: 14.649vh;
    max-height: 2rem;
    position: absolute;
    left: 7.3vw;
    top: 3.9vh;
    overflow: auto;
    z-index: 40;
    letter-spacing: .02rem;
}


.select>li .floor-list>li[data-v-170a700c], .select>li .line-list>li[data-v-170a700c] {
    width: 100%;
    height: .3rem;
    line-height: .3rem;
    box-sizing: border-box;
    padding-left: .1rem;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    color: #000;
    background: #fff;
}



.select>li[data-v-170a700c]:last-child, .select>li[data-v-170a700c]:nth-child(2) {
    margin-left: .3rem;
}



.select>li>button[data-v-170a700c] {
    width: 9.919vh;
    height: 3.56vh;
    background: #f7b500;
    box-shadow: 0.02rem 0.02rem 0.06rem 0 rgb(0 0 0 / 50%);
    border-radius: .08rem;
    color: #fff;
    border: 0px;
}