a, body, button, div, dl, dt, h1, h2, h3, h4, h5, h6, input, li, p, select, textarea, ul {
    margin: 0;
    padding: 0;
    outline: none;
}


html {
    width: 100%;
    height: calc(100% - 70px);
}

body {
    width: 100%;
    height: 100%;


}
.app{
    width: 100%;
    height: 100%;
    background: url("../img/beiJing2.png") no-repeat;
    background-size: cover;
    background-position: 50%;
    box-sizing: border-box;
    font-family: PingFangSC-Regular;
    overflow: auto;
    /*background-attachment:fixed;*/
}

/*主体内容*/
.content1 {
    position: absolute;
    margin-left: 1.02%;
    background-image: url(../img/skasB.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 97.92%;
    height: calc(100% - 78px - 6.512vw);
    border-radius: 0px 0px 16px 16px;

}


.titleTop {
    margin-left: 1.02%;
    display: flex;
    height: 6.512vw;
    width: 97.92%;
    background-image: url(../img/skasB.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 16px 16px 0px 0px;

}

/*.a1 , .a2{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    align-self: center;*/
/*}*/

.aDiv {
    width: 100%;
    align-self: center;
    color: #34A8FA;
    text-align: right;
}

.a1 {
    margin-right: 3%;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    letter-spacing: 0.88px;
    color: #44D7B6;
    border-bottom: 1px solid #44D7B6;
}
.a2{
    margin-right: 3%;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    letter-spacing: 0.88px;
    color: rgba(50,197,255,0.50);
}

.topContent {
    display: flex;
    width: 100%;
    height: 25.113%;
}

.topContentL {
    /*display: flex;*/
    margin: 0 1.33%;
    width: 47.34%;
    height: 100%;
    background-color: #86ABF9;
    border-radius: 20px;
}

.topContentLNei {
    width: 100%;
    /*height: 90%;*/
    text-align: center;
    align-self: center;
    font-family: PingFangTC-Regular;
    font-size: 18px;
    color: rgba(0,0,0,0.85);
    letter-spacing: 0.64px;
}

.topContentLBottom {
    display: flex;
    width: 100%;
    height: calc(100% - 15.777%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
}
.topContentLBottom1 {
    display: flex;
    width: 100%;
    height: calc(100% - 18.435%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
}

.topContentLBottomL {
    width: 61%;
    height: 100%;
    align-self: center;
    text-align: center;
}

.topContentLBottomLNei {
    margin-top: 1.5vh;
    width: 100%;
    height: 52%;
    display: flex;
    text-align: center;
}

.topContentLBottomL p {
    font-family: PingFangSC-Medium;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.50);
    letter-spacing: 1.29px;
}

.topContentLBottomR {
    width: 49%;
    height: 100%;
    align-self: center;
}

.topContentR {
    margin: 0 1.33%;
    width: 47.34%;
    height: 100%;
    background-color: #86ABF9;
    border-radius: 20px;

}

.centerContent {
    background-color: #869FF9;
    margin-top: 2vh;
    width: 97.34%;
    height: 33.26%;
    border-radius: 20px;
    margin-left: calc( (100% - 97.34%) / 2 );

}

.bottomContent {
    background-color: #869FF9;
    margin-top: 2vh;
    width: 97.34%;
    height: 33.26%;
    border-radius: 20px;
    margin-left: calc( (100% - 97.34%) / 2 );


}
.jianKang{
    /*display: flex;*/
    width: 80.68%;
    height: 100%;
    text-align: center;
    align-self: center;
}


.greenBackground{
    background-color: #6DD400;
    width: 100%;
    height: 16%;
    display: flex;
    text-align: center;
    margin-top: 2vh;
    font-family: PingFangSC-Bold;
    font-size: 14px;
    color: #F0F0F0;
    letter-spacing: 0.57px;



}

.greenBackgroundL{
    width: 30%;
    align-self: center;
    text-align: center;
}
.greenBackgroundR{
    margin-right: 1%;
    line-height:3vh;
    height: 96%;
    align-self: center;
    text-align: right;
    background-color: #9ADC65;
    width: 70%;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #F0F0F0;
    letter-spacing: 0.64px;
}



.yellowBackground{
    background-color: #FABE00;
    width: 100%;
    height: 16%;
    display: flex;
    text-align: center;
    margin-top: 0.5vh;
    font-family: PingFangSC-Bold;
    font-size: 14px;
    color: #F0F0F0;
    letter-spacing: 0.57px;



}

.yellowBackgroundL{
    width: 30%;
    align-self: center;
    text-align: center;
}
.yellowBackgroundR{
    margin-right: 1%;
    line-height:3vh;
    height: 96%;
    align-self: center;
    text-align: right;
    background-color: #F2E181;
    width: 70%;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #F0F0F0;
    letter-spacing: 0.64px;
}




.redBackground{
    background-color: #E02020;
    width: 100%;
    height: 16%;
    display: flex;
    text-align: center;
    margin-top:  0.5vh;
    font-family: PingFangSC-Bold;
    font-size: 14px;
    color: #F0F0F0;
    letter-spacing: 0.57px;



}

.redBackgroundL{
    width: 30%;
    align-self: center;
    text-align: center;
}
.redBackgroundR{
    margin-right: 1%;
    line-height:3vh;
    height: 94%;
    align-self: center;
    text-align: right;
    background-color: #DF7078;
    width: 70%;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #F0F0F0;
    letter-spacing: 0.64px;
}



.grayBackground{
    background-color: #8C8C8C;
    width: 100%;
    height: 16%;
    display: flex;
    text-align: center;

    margin-top:  0.5vh;
    font-family: PingFangSC-Bold;
    font-size: 14px;
    color: #F0F0F0;
    letter-spacing: 0.57px;



}

.grayBackgroundL{
    width: 30%;
    align-self: center;
    text-align: center;
}
.grayBackgroundR{
    margin-right: 1%;
    line-height:3vh;
    height: 94%;
    align-self: center;
    text-align: right;
    background-color: #ADB1B9;
    width: 70%;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #F0F0F0;
    letter-spacing: 0.64px;
}





.liName span{
    display: flex;
    align-self: center;
    /*writing-mode: vertical-rl;*/
    font-family: PingFangSC-Bold;
    font-size: 18px;
    color: #F0F0F0;
    letter-spacing: 0.64px;
    text-align: center;
}
.for_btn ul{
    margin-top: 1vw;
}
.for_btn li{
    font-family: PingFangSC-Medium;
    font-size: 1vh;
    color: #F0F0F0;
    letter-spacing: 0.1vw;
    margin-left: 1vw;
    margin-top: 0.5vw;

}



