a, body, button, div, dl, dt, h1, h2, h3, h4, h5, h6, input, li, p, select, textarea, ul {
    margin: 0;
    padding: 0;
    outline: none;
}


html {
    width: 100%;
    /*height: calc( 100% - 0.6rem);*/

    font-size: 100px;
    font-family: PingFangSC-Regular;
}

body {
    width: 100%;
    height: 9.64rem;

}
.app{
    width: 100%;
    height: 100%;
    background-image: url("../img/backgroundImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/*主体内容*/
.content{
    position: absolute;
    margin-top: .32rem;
    margin-left: .24rem;
    background-color: #E6E6E6;
    /*margin: 4% 2% 4% 2%;*/
    /*margin: 2%;*/
    /*margin-top: 4%;*/
    width:7.2rem;
    height: calc( 9.64rem - .64rem);
    border-radius: 16px;

}

/*异常进度分析*/
.content-middle[data-v-6e7c9527] {
    /*border-top-left-radius: 16px;*/
    /*border-top--radius: 16px;*/
    width: 7.12rem;
    height: 3.62rem;
    box-sizing: border-box;
    margin-left: .04rem;
    margin-top: .03rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0 ,0, 0.4);
    border-radius: 16px 16px 16px 16px;
    overflow: hidden;
}
.analysis[data-v-35e08537] {
    width: 100%;
}

.analysis .profix-container[data-v-35e08537] {
    width: 100%;
    height: .36rem;
    text-indent: .12rem;
    color: #000;
    font-size: .18rem;
    line-height: .36rem;
    background: #e6e6e6;
    overflow: hidden;
}

.analysis .content-container[data-v-35e08537] {
    width: 100%;
    /*padding: .08rem;*/
    background: #fff;
    box-sizing: border-box;
    overflow: auto;
    height: 3.26rem;
}

.analysis .content-container>table[data-v-35e08537] {
    width: 100%;
    text-align: center;
}

.analysis .content-container>table>thead[data-v-35e08537] {
    background: #0091ff;
    color: #f0f0f0;
    font-size: .208333rem;
}
.analysis .content-container>table>thead td[data-v-35e08537]{
    background: #0091ff;
    color: #f0f0f0;
    /*height: .38rem!important;*/
    /*max-height: .38rem!important;*/
    font-size: .16rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;


}
.topTd{
    top: 0.32rem;
}
.analysis .content-container>table>tbody[data-v-35e08537] {
    background: #eaf0fd;
}

.analysis .content-container>table td[data-v-35e08537] {
    width: 1.145833rem;
    height: .372rem;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    font-size: 16px;
}
.content-bottom[data-v-6e7c9527] {
    top: 3.7rem;
    left: .04rem;
    right: .04rem;
    bottom: .12rem;
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0 0 16px 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.analysis .content-container>table td[data-v-35e08537] {
    width: 1.145833rem;
    height: .32rem;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    font-size: 16px;
}

.info[data-v-247e1dc0] {
    width: 100%;
    height: 100%;
    margin-bottom: .5rem;
}

.info .profix-container[data-v-247e1dc0] {
    width: 7.12rem;
    height: .36rem;
    text-indent: .12rem;
    color: #000;
    font-size: .18rem;
    line-height: .36rem;
    background: #e6e6e6;
    z-index: 99;
    overflow: hidden;
    box-sizing: border-box;
}

.info .content-container[data-v-247e1dc0] {
    width: 100%;
    height: 4.9rem;
    background: #fff;
    overflow: auto;
    margin-left: 0;
    position: relative;
}

.info .content-container>table[data-v-247e1dc0] {
    width: 100%;
    text-align: center;
}
.info .content-container>table .type[data-v-247e1dc0] {
    min-width: .9rem!important;
}
.info .content-container>table>tbody[data-v-247e1dc0] {
    background: #eaf0fd;
}


.info .content-container>table>thead td[data-v-247e1dc0] {
    background: #0091ff;
    color: #f0f0f0;
    height: .38rem!important;
    max-height: .38rem!important;
    font-size: .16rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.info .content-container>table .floor[data-v-247e1dc0] {
    min-width: .6rem!important;
}
.info .content-container>table .line[data-v-247e1dc0] {
    min-width: 1.3rem!important;
}
.info .content-container>table .number[data-v-247e1dc0] {
    min-width: 1.2rem!important;
    width: 1.3rem!important;
    max-width: 1.3rem!important;
}
.info .content-container>table .type[data-v-247e1dc0] {
    min-width: .9rem!important;
}
.info .content-container>table .detail[data-v-247e1dc0] {
    min-width: 2rem!important;
    width: 2rem!important;
    max-width: 2rem!important;
}
.info .content-container>table .advice[data-v-247e1dc0] {
    min-width: 1.8rem!important;
}
.info .content-container>table .priority[data-v-247e1dc0] {
    min-width: .8rem!important;
}
.info .content-container>table .end[data-v-247e1dc0], .info .content-container>table .start[data-v-247e1dc0] {
    min-width: .9rem!important;
}
.info .content-container>table .time-count[data-v-247e1dc0] {
    min-width: 1rem!important;
}
.info .content-container>table .unit[data-v-247e1dc0] {
    min-width: 1.11rem!important;
}
.info .content-container>table .service-content[data-v-247e1dc0] {
    min-width: .88rem!important;
}
.info .content-container>table .state[data-v-247e1dc0] {
    min-width: .7rem!important;
}
.redbackground{
    color: red;
}

.info .content-container>table td[data-v-247e1dc0] {
    font-size: .15rem;
    height: .5rem;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: .05rem .1rem;
    box-sizing: border-box;
}