<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">

    <title>AVI</title>

    <link th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css" rel="stylesheet"/>
    <link th:href="@{/css/AVIERROR.css}" href="../static/css/AVIERROR.css" rel="stylesheet"/>

</head>
<body>
<div class="app">
    <div class="content">
        <!--    搜索区域-->
        <div class="contentSeek">
            <ul class="select" data-v-170a700c="" data-v-6e7c9527="">
                <li data-v-170a700c="">
                    <span data-v-170a700c="">楼层:</span>
                    <input type="text" class="select-input" id="select-input1" readonly="" placeholder="请选择"
                           data-v-170a700c="">
                    <i id="i1" data-v-170a700c=""></i>
                    <ul class="floor-list" id="floor-list1" data-v-170a700c="" style="display: none;">

                    </ul>
                </li>
                <li data-v-170a700c="">
                    <span data-v-170a700c="">线体:</span>
                    <input type="text" class="select-input" id="select-input2" readonly="" placeholder="请选择"
                           data-v-170a700c="">
                    <i id="i2" data-v-170a700c=""></i>
                    <ul class="line-list" id="floor-list2" data-v-170a700c="" style="display: none;">

                    </ul>
                </li>
                <li data-v-170a700c="">
                    <button class="selectNum" data-v-170a700c="">查询</button>
                </li>
            </ul>

        </div>


        <div class="content-middle" data-v-6e7c9527="">
            <div class="analysis" data-v-35e08537="" data-v-6e7c9527="">
                <div class="profix-container" data-v-35e08537=""> 报警进度分析</div>
                <div class="content-container" data-v-35e08537="">
                    <table border="0" cellspacing="0" data-v-35e08537="" id="alarmsystemtitledata" th:fragment="alarmsystemtitledata">
                        <thead data-v-35e08537="">
                        <tr data-v-35e08537="">
                            <td rowspan="2" data-v-35e08537="">机故类型</td>
                            <td colspan="3" data-v-35e08537="">维修进度</td>
                            <td colspan="3" data-v-35e08537="">优先级</td>
                            <td rowspan="2" data-v-35e08537="">ALL</td>
                        </tr>
                        <tr data-v-35e08537="">
                            <td data-v-35e08537="">待派工</td>
                            <td data-v-35e08537="">维修中</td>
                            <td data-v-35e08537="">已维修</td>
                            <td data-v-35e08537="">H</td>
                            <td data-v-35e08537="">M</td>
                            <td data-v-35e08537="">L</td>
                        </tr>
                        </thead>
                        <tbody data-v-35e08537="" >
                            <tr th:each="titles : ${alarmSystemTitles}">
                                <td data-v-35e08537=""  th:text="${titles.getMachineExType()}"></td>
                                <td style="color: red;" data-v-35e08537="" th:onclick="alarmsystemdata([[${titles.getMachineExType().replaceAll(' ','')}]],'0','')" th:text="${titles.getWaitDispatchNum()}"></td>
                                <td data-v-35e08537="" th:onclick="alarmsystemdata([[${titles.getMachineExType().replaceAll(' ','')}]],'2','')" th:text="${titles.getUnderRepairNum()}"></td>
                                <td data-v-35e08537="" th:onclick="alarmsystemdata([[${titles.getMachineExType().replaceAll(' ','')}]],'1','')" th:text="${titles.getRepairCompleteNum()}"></td>
                                <td data-v-35e08537="" th:onclick="alarmsystemdata([[${titles.getMachineExType().replaceAll(' ','')}]],'H','')" th:text="${titles.getMachineExHNum()}"></td>
                                <td data-v-35e08537="" th:onclick="alarmsystemdata([[${titles.getMachineExType().replaceAll(' ','')}]],'M','')" th:text="${titles.getMachineExMNum()}"></td>
                                <td data-v-35e08537="" th:onclick="alarmsystemdata([[${titles.getMachineExType().replaceAll(' ','')}]],'L','')" th:text="${titles.getMachineExLNum()}"></td>
                                <td data-v-35e08537="" th:onclick="alarmsystemdata([[${titles.getMachineExType().replaceAll(' ','')}]],'ALL','')"  th:text="${titles.getMachineExALL()}"></td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="MachineType" style="display: none"></div>
        <div id="PriorityOrFlg" style="display: none"></div>

        <div class="content-bottom" data-v-6e7c9527="">
            <div class="info" data-v-247e1dc0="" data-v-6e7c9527="">
                <div class="profix-container" data-v-247e1dc0=""> 异常报警信息</div>
                <div class="content-container" data-v-247e1dc0="">
                    <table border="0" cellspacing="0" data-v-247e1dc0="" id="alarmsystemdata" th:fragment="alarmsystemdata">
                        <thead data-v-247e1dc0="">
                        <tr data-v-247e1dc0="">
                            <td class="floor" data-v-247e1dc0="">楼层</td>
                            <td class="line" data-v-247e1dc0="">线体</td>
                            <td class="number" data-v-247e1dc0="">设备号</td>
                            <td class="type" data-v-247e1dc0="">机故类型</td>
                            <td class="detail" data-v-247e1dc0="">异常描述</td>
                            <td class="advice" data-v-247e1dc0="">维修建议</td>
                            <td class="priority" data-v-247e1dc0="">优先级</td>
                            <td class="start" data-v-247e1dc0="">开始时间</td>
                            <td class="end" data-v-247e1dc0="">结束时间</td>
                            <td class="time-count" data-v-247e1dc0="">时长</td>
                            <td class="unit" data-v-247e1dc0="">责任单位</td>
                            <td class="detail" data-v-247e1dc0="">维修内容</td>
                            <td class="service-content" data-v-247e1dc0="">维修人员</td>
                            <td class="state" data-v-247e1dc0="">状态</td>
                        </tr>
                        </thead>
                        <tbody style="width: 100%;height: 100%" data-v-247e1dc0="" >
                                <tr th:each="NG : ${autoFloor_key_checkNGS}">
                                    <td data-v-247e1dc0="" th:text="${NG.getFloor()}"></td>
                                    <td data-v-247e1dc0="" th:text="${NG.getLinename()}"></td>
                                    <td data-v-247e1dc0="" th:text="${NG.getMachinetype()}"></td>
                                    <td data-v-247e1dc0="" th:text="${NG.getExceptionType()}"></td>
                                    <td data-v-247e1dc0="" th:text="${NG.getKeyPmsCh()}"></td>
                                    <td data-v-247e1dc0="" th:text="${NG.getRepairPropose()}"></td>
                                    <td data-v-247e1dc0="" th:class="${NG.getProduct()=='H' ? 'redbackground':''}" th:text="${NG.getProduct()}"></td>
                                    <td data-v-247e1dc0="" th:text="${NG.getTesttime()}"></td>
                                    <td data-v-247e1dc0="" th:text="${NG.getStrupdateTime()}"></td>
                                    <td data-v-247e1dc0="" th:text="${NG.getDisposeTime()}"></td>
                                    <td data-v-247e1dc0="" >AVI</td>
                                    <td data-v-247e1dc0="" th:text="${NG.getRepairContent()}"></td>
                                    <td data-v-247e1dc0="" th:text="${NG.getEmpName()}"></td>
                                    <td data-v-247e1dc0="" th:if="${NG.getFlag()==0}">待派工</td>
                                    <td data-v-247e1dc0="" th:if="${NG.getFlag()==2}">维修中</td>
                                    <td data-v-247e1dc0="" th:if="${NG.getFlag()==1}">已完成</td>

                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script th:src="@{/js/jquery-3.5.1.min.js}" src="../static/js/jquery-3.5.1.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{/js/AVIERROR.js}" src="../static/js/AVIERROR.js"></script>
<script th:inline="javascript">
    //移动端active无反应
    document.body.addEventListener('touchstart',function(){},false)
    var floor = [];
    floor = [[${floorSet}]];
    var line = [[${lineList}]];

    floor = floor.sort();



    // 楼层选择
    $(document).ready(function(){
        var area;

        $("#select-input1").click(function(){
            // alert("s");
            $("#floor-list1 li").remove();
            for(var i = 0; i < floor.length; i++){
                $("#floor-list1").append("<li data-v-170a700c=''>"+floor[i]+"</li>");
            }




            $("#floor-list1").show();




            $("#floor-list1 li").click(function(){
                area = $(this).text();

                $("#floor-list2 li").remove();
                $("#select-input2").val("请选择");
                $("#floor-list2").append("<li data-v-170a700c=''>ALL</li>");
                for (var i = 0; i < line.length; i++) {
                    if (area == line[i].substr(0, 5)) {
                        $("#floor-list2").append("<li data-v-170a700c=''>"+line[i]+"</li>");

                    }
                }
                $("#select-input1").val(area);
                $("#floor-list1").hide();
            });
        });
        // 点击页面其他元素时ul隐藏
        $(document).click(function (){
            if($("#select-input1").is(":focus")){
                $("#floor-list1").show();
            }else{
                $("#floor-list1").hide();
            }
        });


    });

    // 楼层选择后隐藏
    $(document).ready(function(){
        var liValue1;
        $("#i2").click(function () {
            $("#floor-list2").show();
        })
        $("#select-input2").focus(function(){

            $("#floor-list2").show();
            $("#floor-list2 li").click(function(){
                liValue1 = $(this).text();
                $("#select-input2").val(liValue1);
                $("#floor-list2").hide();
            });
        });
        // 点击页面其他元素时ul隐藏
        $(document).click(function (){
            if($("#select-input2").is(":focus")){
                $("#floor-list2").show();
            }else{
                $("#floor-list2").hide();
            }
        });
    });

    for (var i = 0; i < floor.length; i++) {
        $(".selectFloor").append("<option>" + floor[i] + "</option>")
    }

    $(".selectNum").click(function () {
        let FloorName = $("#select-input1").val();
        let LineName = $("#select-input2").val();
        var MachineType="";
        var PriorityOrFlg="";

        alarmsystemdata(MachineType,PriorityOrFlg,FloorName,LineName)
        alarmsystemtitledata(FloorName,LineName)


    })
    //Title 异步刷新
    function alarmsystemtitledata(floorName,linename) {
        var LineName="";
        LineName=$("#select-input2").val();
        var FloorName="";
        FloorName=$("#select-input1").val();
        if (FloorName===undefined){
            FloorName="";
        }
        if (LineName===undefined){
            LineName="";
        }

        $('#alarmsystemtitledata').load('alarmsystemtetitledata?FloorName='+FloorName+'&Product=Equipment_AVI&LineName='+LineName);

    }

    //Table 异步刷新
    function alarmsystemdata(machineType,priorityOrFlg,linename) {
        // 装载局部刷新返回的页面
        if (machineType!==undefined){
            $('#MachineType').text(machineType);
        }
        if (priorityOrFlg!==undefined){
            $('#PriorityOrFlg').text(priorityOrFlg);
        }
        var MachineType=$('#MachineType').text();
        var PriorityOrFlg=$('#PriorityOrFlg').text();
        var LineName="";
        LineName=$("#select-input2").val();
        var FloorName="";
        FloorName=$("#select-input1").val();
        if (FloorName===undefined){
            FloorName="";
        }
        if (LineName===undefined){
            LineName="";
        }

        $('#alarmsystemdata').load('alarmsystemdata?FloorName='+FloorName+'&Product=Equipment_AVI&MachineType='+MachineType+'&PriorityOrFlg='+PriorityOrFlg+'&LineName='+LineName);
    }

    alarmsystemtitledata();
    alarmsystemdata();
    setInterval(alarmsystemdata,(5*1000));
    setInterval(alarmsystemtitledata,(5*1000));
</script>
<script>
    window.onload = function () {
        /*375代表设计师给的设计稿的宽度，你的设计稿是多少，就写多少;
        100代表换算比例，这里写100是为了以后好算,
        比如，你测量的一个宽度是100px,就可以写为1rem,以及1px=0.01rem等等*/
        getRem(768, 100)
    };
    window.onresize = function () {
        getRem(768, 100)
    };

    function getRem(pwidth, prem) {
        var html = document.getElementsByTagName("html")[0];
        var oWidth = document.body.clientWidth || document.documentElement.clientWidth;
        html.style.fontSize = oWidth / pwidth * prem + "px";
    }
</script>
</html>