<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关键参数</title>
    <link th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css" rel="stylesheet" />
    <link th:href="@{/css/keyParameter.css}" href="../static/css/keyParameter.css" rel="stylesheet" />

</head>
<body>

<!--头部-->
<div class="topTitle">
    <div class="topTitleDiv1">
        <a style="font-size: 2vh;color:#31A6FF; " href="#">
            <img style="margin-left: 10%;" th:src="@{/img/LeftAccessory.png}" src="../static/img/LeftAccessory.png">

        </a>
    </div>


    <div class="topTitleDiv2">
        <img style="height: 100%" th:src="@{/img/errorImg.png}" src="../static/img/errorImg.png">
        报警系统
    </div>


    <div class="topTitleDiv3">
        <img style="height: 100%" th:src="@{/img/adminImg.png}" src="../static/img/adminImg.png">
        <span>张三 H2400000</span>
    </div>

<!--    <table width="100%;" height="100%">-->
<!--        <tr>-->
<!--            <a href="#" style="">-->
<!--                <td class="topTitleDiv1">-->
<!--                    <img style="margin-left: 10%;" th:src="@{/img/LeftAccessory.png}" src="../static/img/LeftAccessory.png">-->
<!--                </td>-->
<!--            </a>-->
<!--            <td class="topTitleDiv2">-->

<!--                <img style="text-align: center" th:src="@{/img/errorImg.png}" src="../static/img/errorImg.png">-->
<!--                <span style="color: #31A6FF;font-size: 17px">报警系统</span>-->

<!--            </td>-->
<!--            <td class="topTitleDiv3">-->
<!--                <img style="text-align: right" th:src="@{/img/adminImg.png}" src="../static/img/adminImg.png">-->
<!--                <span style="color: black;font-size: 12px">张三 H2400000</span>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
</div>


<div class="content">

<!--    搜索区域-->
    <div class="contentSeek">
        <div class="layui-form layui-form-item selectBox">
            <div class="layui-input-block1">
                <span style="display: flex"><span style="align-self: center;font-size: 15px">楼层:</span></span>
                <select lay-filter="brickType"  name="errorDispoes1" lay-verify="required" class="selectFloor">
<!--                    <option style="display: none" selected>默认选择</option>-->

                    <option placeholder="请选择" value="0"></option>

                </select>
            </div>
        </div>

        <div class="layui-form layui-form-item selectBox" >
            <div class=" layui-input-block1">
                <span style="display: flex"><span style="align-self: center;font-size: 15px">楼层:</span></span>

                <select name="errorDispoes" lay-verify="required" class="selsetLine">
                    <option placeholder="请选择" value="0"></option>

                </select>
            </div>
        </div>

        <button type="button" class="layui-btn layui-btn-warm "><span style="width: 100%;align-self: center;">查询</span></button>


    </div>

<!--    异常进度分析-->

    <div style="height: 30%;width: 100%">
        <div style="width: 100%;height: 16%;display: flex">
            <p style="color: black;font-size: 15px;font-weight: bold;align-self: center;margin-left: 2%;">异常进度分析</p>
        </div>
        <div class="contentErrorAnalyse">
            <div class="contentErrorAnalyseNei">
                <table class="table1">
                    <thead>
                    <tr>
                        <th rowspan="2">机故类型</th>
                        <th colspan="3">维修进度</th>
                        <th colspan="3">优先级</th>
                        <th rowspan="2">ALL</th>
                    </tr>
                    <tr>
                        <th>带派工
                        </th>
                        <th>维修中</th>
                        <th>已维修</th>
                        <th>H</th>
                        <th>M</th>
                        <th>L</th>
                    </tr>
                    </thead>
                    <tbody class="errorNum">
                    <tr>
                        <td>Robot</td>
                        <td>9</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9</td>
                        <td>0</td>
                        <td>0</td>
                        <td>9</td>
                    </tr>

                    <tr>
                        <td>治具</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>工站连接</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>All</td>
                        <td>11</td>
                        <td>0</td>
                        <td>0</td>
                        <td>11</td>
                        <td>0</td>
                        <td>0</td>
                        <td>11</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

<!--    异常报警信息-->

    <div style="height: 59%;width: 100%">
        <div style="width: 100%;height: 8%;display: flex">
            <p style="color: black;font-size: 15px;font-weight: bold;align-self: center;margin-left: 2%;">异常报警信息</p>
        </div>
        <div class="contentErrorMsg">
            <div class="contentErrorMsgNei">
                <table class="table1 table2">
                    <thead>
                    <tr>
                        <td>楼层</td>
                        <td>线体</td>
                        <td>设备号</td>
                        <td>机故类型</td>
                        <td>异常描述</td>
                        <td>维修建议</td>
                        <td>优先级</td>
                        <td>开始时间</td>
                        <td>结束时间</td>
                        <td>时常</td>
                        <td>单位</td>
                        <td>维修内容</td>
                        <td>状态</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>D061F</td>
                        <td>ARF01-C</td>
                        <td>RF Cell02</td>
                        <td>Robot</td>
                        <td>上位机异常(无数据上传)</td>
                        <td>1.确认上位机有无打开
                            2.有无连接上IPD DB</td>
                        <td>H</td>
                        <td>14:17:24</td>
                        <td></td>
                        <td>1Min</td>
                        <td>TE</td>
                        <td></td>
                        <td>待派工</td>
                    </tr>
                    <tr>
                        <td>D061F</td>
                        <td>ARF01</td>
                        <td>PD模组</td>
                        <td>工站连接</td>
                        <td>5->执行KS-1动作</td>
                        <td>检查KS1气缸及感应器</td>
                        <td>H</td>
                        <td>14:17:24</td>
                        <td></td>
                        <td>1Min</td>
                        <td>TE</td>
                        <td></td>
                        <td>待派工</td>
                    </tr>
                    <tr>
                        <td>D061F</td>
                        <td>ARF01-F</td>
                        <td>RF Cell05</td>
                        <td>Robot</td>
                        <td>上位机异常(无数据上传)</td>
                        <td>1.确认上位机有无打开
                            2.有无连接上IPD DB</td>
                        <td>H</td>
                        <td>14:17:24</td>
                        <td></td>
                        <td>1Min</td>
                        <td>TE</td>
                        <td></td>
                        <td>待派工</td>
                    </tr>
                    <tr>
                        <td>D061F</td>
                        <td>ARF01</td>
                        <td>CCD分板模组</td>
                        <td>工站连接</td>
                        <td>中控异常(无数据上传)</td>
                        <td>1.确认上位机有无打开
                            2.有无连接上IPD DB</td>
                        <td>H</td>
                        <td>14:17:24</td>
                        <td></td>
                        <td>1Min</td>
                        <td>TE</td>
                        <td></td>
                        <td>待派工</td>
                    </tr>
                    <tr>
                        <td>D061F</td>
                        <td>ARF01-G</td>
                        <td>RF Cell06</td>
                        <td>Robot</td>
                        <td>Robot异常停止</td>
                        <td>1.确认上位机有无打开
                            2.有无连接上IPD DB</td>
                        <td>H</td>
                        <td>14:17:24</td>
                        <td></td>
                        <td>1Min</td>
                        <td>TE</td>
                        <td></td>
                        <td>待派工</td>
                    </tr>
                    <tr>
                        <td>D061F</td>
                        <td>ARF01-C</td>
                        <td>RF Cell02</td>
                        <td>Robot</td>
                        <td>Robot异常停止</td>
                        <td>1.确认上位机有无打开
                            2.有无连接上IPD DB</td>
                        <td>H</td>
                        <td>14:17:24</td>
                        <td></td>
                        <td>1Min</td>
                        <td>TE</td>
                        <td></td>
                        <td>待派工</td>
                    </tr>
                    <tr>
                        <td>D061F</td>
                        <td>ARF01-E</td>
                        <td>RF Cell04</td>
                        <td>Robot</td>
                        <td>Robot异常停止</td>
                        <td>1.确认上位机有无打开
                            2.有无连接上IPD DB</td>
                        <td>H</td>
                        <td>14:17:24</td>
                        <td></td>
                        <td>1Min</td>
                        <td>TE</td>
                        <td></td>
                        <td>待派工</td>
                    </tr>
                    <tr>
                        <td>D061F</td>
                        <td>ARF01-B</td>
                        <td>RF Cell01</td>
                        <td>Robot</td>
                        <td>Robot异常停止</td>
                        <td>1.确认上位机有无打开
                            2.有无连接上IPD DB</td>
                        <td>H</td>
                        <td>14:17:24</td>
                        <td></td>
                        <td>1Min</td>
                        <td>TE</td>
                        <td></td>
                        <td>待派工</td>
                    </tr>



                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>


<script th:src="@{/js/jquery-3.5.1.min.js}" src="../static/js/jquery-3.5.1.min.js"></script>
<script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
<script th:src="@{/js/keyParameter.js}" src="../static/js/keyParameter.js"></script>
<script>
    layui.use('form', function(){
       var form = layui.form
    });
</script>

<script th:inline="javascript">
    var floor = [[${floorSet}]];
    var line = [[${lineList}]];
    console.log(floor);
    console.log(line);
    for(var i = 0; i < floor.length; i++){
        $(".selectFloor").append("<option>"+ floor[i] +"</option>")
    }

    layui.use(['form'], function() {
        var form=layui.form;
        form.on('select(brickType)', function(data){
            var val=data.value;

                 // if(val != "请选择" || val != ""){
                     $(".selsetLine").append("<option>"+ 'All' +"</option>");
                     // for(var i = 0; i < line.length; i++){
                     //     console.log(line[i].substr(0,5));
                     //     if(val==line[i].substr(0,5)){
                     //         $(".selsetLine").append("<option>"+ line[i] +"</option>")
                     //     }
                     // }
                 // }

        });
    });





   // $(".selectFloor option").click(function () {
   //
   //      let value = $(".selectFloor").value;
   //      console.log(value);
   //
   //      if(value != "请选择" || value != ""){
   //          $(".selsetLine").text("");
   //          $(".selsetLine").append("<option>All</option>");
   //          for(var i = 0; i < line.length; i++){
   //
   //              console.log(line[i].slice(0,5));
   //              if(value.equals(line[i].slice(0,5))){
   //                  $(".selsetLine").append("<option>"+ floor[i] +"</option>")
   //              }
   //          }
   //      }
   //  })




</script>
</body>

</html>