<!DOCTYPE html>
<html class="topHtml" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">


    <title>SKAS/FAS</title>
    <link th:href="@{/layui/css/layui.mobile.css}" href="../static/layui/css/layui.mobile.css" rel="stylesheet" />
    <link th:href="@{/css/SkasAfs.css}" href="../static/css/SkasAfs.css" rel="stylesheet" />
    <link th:href="@{/css/public.css}" href="../static/css/public.css" rel="stylesheet" />
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet" />

</head>
<body>

<div class="app">
    <!--    头部-->
    <div class="titleTop">
        <div class="aDiv">
            <a class="a1">电子看板</a>
            <a class="a2" th:href="@{saksafssyshomecont}" href="SkasAfs2.html">设备健康管理</a>
        </div>
    </div>
    <div class="content1" >
        <div style="width: 100%;height: 100%" th:fragment="tabData" id="content_demo">
            <!--    top主体内容-->
            <div class="topContent">
                <div class="topContentL">
                    <div style="display: flex;width: 100%;height: 18.435%;">
                        <div class="topContentLNei">

                            <img style="height: 100%;" th:src="@{/img/startMsg.png}" src="../static/img/startMsg.png"/>
                            <span style="height: 100%;text-align: center;align-self: center">设备状态信息</span>
                        </div>
                    </div>


                    <div class="topContentLBottom1">
                        <div class="topContentLBottomL">
                            <div class="topContentLBottomLNei" >
                                <div style="align-self: center;text-align: center;width: 100%;height: 100%;" id="doughnut"></div>
                            </div>
                            <p class="startAllNum" th:text="${AGV_AFSState.getMachineSum()}">0</p>
                        </div>

                        <div class="topContentLBottomR">
                            <div class="jianKang">
                                <div class="greenBackground">
                                    <div class="greenBackgroundL" >
                                        健康
                                    </div>
                                    <div class="greenBackgroundR">
                                        <span class="startJKNum" style="margin-right: 6%" th:text="${AGV_AFSState.getMachineHealth()}">0</span>
                                    </div>
                                </div>
                                <div class="yellowBackground">
                                    <div class="yellowBackgroundL">
                                        预警
                                    </div>
                                    <div class="yellowBackgroundR">
                                        <span class="startYJNum" style="margin-right: 6%" th:text="${AGV_AFSState.getMachineWarning()}">0</span>
                                    </div>
                                </div>
                                <div class="redBackground">
                                    <div class="redBackgroundL">
                                        维护
                                    </div>
                                    <div class="redBackgroundR">
                                        <span class="startWHNum" style="margin-right: 6%" th:text="${AGV_AFSState.getMachineUnusual()}">0</span>
                                    </div>
                                </div>

                                <div class="grayBackground">
                                    <div class="grayBackgroundL">
                                        离线
                                    </div>
                                    <div class="grayBackgroundR">
                                        <span class="startLXNum" style="margin-right: 6%" th:text="${AGV_AFSState.getMachineLostConnection()}">0</span>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="topContentR">
                    <div style="display: flex;width: 100%;height: 18.435%">
                        <div class="topContentLNei">
                            <img style="height: 100%;" th:src="@{/img/errorMsg.png}" src="../static/img/errorMsg.png"/>
                            <span style="height: 100%;text-align: center;align-self: center">异常信息</span>
                        </div>
                    </div>


                    <div style="display: flex;width: 100%;height: calc(100% - 18.435%);background-color: rgba(255,255,255,0.75);border-radius: 20px;">
                        <div class="lb_gl">
                            <div class="container">
                                <div class="pictureSlider poster-main" >
                                    <ul id="zturn" class="poster-list ulData" >
                                        <li  class="poster-item  zturn-item"  th:each="Exceptions ,start : ${ExceptionDescribe}">
                                            <div class="liName">
                                                <span>故障</span>
                                            </div>
                                            <div class="for_btn">
                                                <ul>
                                                    <li th:text="${'异常车号:'+Exceptions.getWorkstation()+' '+Exceptions.getDevice()} "></li>
                                                    <li th:text="${'异常类型:'+Exceptions.getError()}"></li>
                                                    <li th:text="${'异常时间:'+Exceptions.getDateTime()} "></li>
                                                </ul>
                                            </div>

                                        </li>

                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--    center主体内容-->
            <div class="centerContent">
                <div style="display: flex;width: 100%;height: 15.777%;">
                    <div class="topContentLNei">
                        <img style="height: 100%;" th:src="@{/img/UPH.png}" src="../static/img/UPH.png"/>
                        <span style="height: 100%;text-align: center;align-self: center">设备关键指标</span>
                    </div>
                </div>

                <div class="topContentLBottom">
                    <div style="width: 100%;height: 100%;text-align: center;align-self: center" id="keyData"></div>

                </div>
            </div>

            <!--    bottom主体内容-->
            <div class="bottomContent">
                <div style="display: flex;width: 100%;height: 15.777%;">
                    <div class="topContentLNei">

                        <img style="height: 100%;" th:src="@{/img/jiGu.png}" src="../static/img/jiGu.png"/>
                        <span style="height: 100%;text-align: center;align-self: center">机故率</span>
                    </div>
                </div>

                <div class="topContentLBottom">

                    <div style="width: 100%;height: 100%;text-align: center;align-self: center" id="jiGu"></div>

                </div>
            </div>




            <script th:src="@{/js/zturn.js}" src="../static/js/zturn.js"></script>

            <script th:src="@{/js/jquery-3.5.1.min.js}" src="../static/js/jquery-3.5.1.min.js"></script>
            <script type="text/javascript" class="ajaxJs">
                var aa = new zturn({
                    id: "zturn",
                    opacity: 0.5,
                    width: 80,
                    Awidth:9,
                    scale: 0.9,
                    auto: true,//是否轮播 默认5000
                    turning: 2000//轮播时长
                })

            </script>
<!--            <script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>-->
            <script th:src="@{/js/echarts.js}" src="../static/js/echarts.js"></script>
<!--            <script th:src="@{/js/SkasAfs.js}" src="../static/js/SkasAfs.js"></script>-->

            <script type="text/javascript" th:inline="javascript" >
                 newVar = [[${ExceptionDescribe}]];

                leng =  newVar.length;
              // console.log(leng);
              if(leng == 1){
                    $(".pictureSlider").css("transform","rotate(90deg) translateY(26%) translateX(-0.1vh)")
                }
                else if(leng == 2){
                    $(".pictureSlider").css("transform","rotate(90deg) translateY(26%) translateX(3.9vh)")

                }
                else{
                    $(".pictureSlider").css("transform","rotate(90deg) translateY(26%) translateX(7.9vh)")

                }

                (function () {
                    sysbar();
                    syspie();
                    sysline();
                })();
                function sysbar() {
                    var skas_afsDataJson=[[${skas_afsDataJson}]];
                    var  sysbarData= JSON.parse(skas_afsDataJson);
                    var sysbarxList=[];
                    var sysbarTarList=[];
                    var sysbarActionList=[];
                    for (let i = 0; i < sysbarData.length; i++) {
                        sysbarxList.push(sysbarData[i].proudct);
                        sysbarTarList.push(sysbarData[i].storeIssueTarget);
                        sysbarActionList.push(sysbarData[i].storeIssueAction);
                    }
                    var chartDom2 = document.getElementById('keyData');
                    var myChart2 = echarts.init(chartDom2);

                    var option2 = {
                        grid:{
                            top:'20%',//距上边距
                            left:'2%',//距离左边距
                            right:'2%',//距离右边距
                            bottom:'5%',//距离下边距
                            containLabel:true
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: {show: true},

                            }
                        },

                        legend: {
                            padding:[15,0,0,0],
                            right:'30',
                            itemWidth:35,
                            data:['计划','实际'],
                            itemHeight:13,
                            itemGap:50,
                            textStyle:{
                                fontFamily: 'PingFangSC-Regular',
                                fontSize: 14,
                                color: 'rgba(0,0,0,0.85)',
                            },
                        },

                        xAxis: {

                            type: 'category',
                            data:sysbarxList,
                            axisTick: {
                                show: false
                            },
                            axisLabel:{
                                textStyle:{
                                    fontFamily: 'PingFangSC-Regular',
                                    fontSize: 14,
                                    color: 'rgba(0,0,0,0.85)',
                                    letterSpacing: -0.04,
                                },
                            },

                        },

                        yAxis: {

                            axisLabel:{

                                textStyle:{
                                    fontFamily: 'PingFangSC-Regular',
                                    fontSize: 14,
                                    color: '#000000',
                                    letterSpacing: -1.48,
                                    lineHeight: 20,
                                },
                                interval:0,
                            },

                            type : 'value',

                            axisTick: {
                                show: false
                            },
                            axisLine: {

                                show: false
                            },

                            splitLine: {
                                show:true,
                                lineStyle:{
                                    color: ['#CFD5EB'],
                                    width: 1,
                                    type: 'solid'
                                }
                            },

                        },

                        series: [
                            {
                                name:'计划',
                                type: 'bar',
                                data:sysbarTarList,
                                itemStyle: {

                                    normal:{
                                        color: new echarts.graphic.LinearGradient(
                                            0, 0, 0, 1,
                                            [
                                                {offset: 0, color: '#29BEF8'},
                                                {offset: 0.5, color: '#60CFFA'},
                                                {offset: 1, color: '#86DAFA'}
                                            ]
                                        ),
                                        label:{
                                            show:true,
                                            position: 'top',
                                            textStyle:{
                                                fontFamily: 'PingFangSC-Regular',
                                                fontSize: 12,
                                                letterSpacing: 0,
                                                color: 'rgba(0,0,0,0.85)',
                                                // backgroundColor:'#E1E7FD',
                                            }
                                        }
                                    }


                                },
                            },
                            {
                                name:'实际',
                                type: 'bar',
                                data:sysbarActionList,
                                itemStyle: {

                                    normal:{
                                        color: new echarts.graphic.LinearGradient(
                                                    0, 0, 0, 1,


                                                    [
                                                        {offset: 0, color: '#21E344'},
                                                        {offset: 0.5, color: '#54E36E'},
                                                        {offset: 1, color: '#82E494'}
                                                    ],
                                        ),
                                        label:{
                                            show:true,
                                            position: 'top',
                                            textStyle:{
                                                fontFamily: 'PingFangSC-Regular',
                                                fontSize: 12,
                                                letterSpacing: 0,
                                                color: 'rgba(0,0,0,0.85)',
                                                // backgroundColor:'#E1E7FD',
                                            }
                                        }
                                    }

                                },
                            },

                        ]
                    };
                    myChart2.setOption(option2,true);
                    window.addEventListener("resize",function () {
                        myChart2.resize();
                    });
                    myChart2.clear();
                    myChart2.setOption(option2,true);

                }

                function syspie() {
                    var aGV_AFSPieStateData=[[${aGV_AFSPieStateJson}]];
                    var syspieData= JSON.parse(aGV_AFSPieStateData);
                    var chartDom = document.getElementById('doughnut');
                    var myChart = echarts.init(chartDom);
                    var option = {
                        title:{
                            show:true,
                            text:syspieData.machineRate+'%',
                            x:'center',
                            y:'center',
                            textStyle: {
                                fontSize: '20',
                                fontFamily:'topContentLBottomR',
                                letterSpacing: '0.71',
                                color:'#5FB900',
                                fontWeight: 'normal'
                            }
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{d}%",
                            show:false
                        },
                        legend: {
                            orient: 'vertical',
                            x: 'left',
                            show:false
                        },
                        series: [ {
                            center: ['50%', '50%'],
                            name:'',
                            type:'pie',
                            radius: ['70%', '85%'],
                            avoidLabelOverlap: true,
                            hoverAnimation:false,

                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data: [ {
                                value:syspieData.machineRate,
                                name:'',
                                itemStyle: {
                                    normal: {
                                        color: "#5FB900",
                                    }
                                }
                            },{
                                value:100-syspieData.machineRate,
                                name:'',
                                itemStyle: {
                                    normal: {
                                        color: "#708FBB7a",
                                    }
                                }
                            }]
                        }]
                    };

                    myChart.setOption(option,true);
                    window.addEventListener("resize",function () {
                        myChart.resize();
                    });
                    myChart.clear();
                    myChart.setOption(option,true);
                }

                function sysline() {
                    var saksafssyslineData=[[${afsLineDataJson}]]

                    var syslineData=JSON.parse(saksafssyslineData);
                    var syslinedateTime=[];
                    var syslinemachineRate=[];
                    for (let i = 0; i < syslineData.length; i++) {
                        syslinedateTime.push(syslineData[i].dateTime);
                        syslinemachineRate.push(syslineData[i].machineRate);
                    }

                    var chartDom3 = document.getElementById('jiGu');
                    var myChart3 = echarts.init(chartDom3);
                    var option3 = {
                        grid:{
                            top:'20%',//距上边距
                            left:'2%',//距离左边距
                            right:'2%',//距离右边距
                            bottom:'5%',//距离下边距
                            containLabel:true
                        },
                        xAxis: {
                            type: 'category',
                            data: syslinedateTime,

                            axisTick: {
                                show: false
                            },
                            axisLabel:{
                                textStyle:{
                                    fontFamily: 'PingFangSC-Regular',
                                    fontSize: 14,
                                    color: 'rgba(0,0,0,0.85)',
                                    letterSpacing: 0.08,
                                },
                            },

                        },

                        yAxis: [


                            {
                                splitLine: {
                                    show:true,
                                    lineStyle:{
                                        color: ['#CFD5EB'],
                                        width: 1,
                                        type: 'solid'
                                    }
                                },
                                type: 'value',

                                axisTick: {
                                    show: false
                                },
                                axisLine: {
                                    show: false
                                },


                                axisLabel: {

                                    show: true,
                                    formatter: '{value} %',
                                    textStyle:{
                                        fontFamily: 'PingFangSC-Regular',
                                        fontSize: 14,
                                        color: 'rgba(0,0,0,0.85)',
                                        letterSpacing: 0.08,
                                    },
                                    interval: 0,
                                },
                                show: true
                            }
                        ],
                        series: [{
                            data: syslinemachineRate,
                            smooth: true,

                            symbol: 'circle', //折线点设置为实心点
                            // symbolSize: 6, //折线点的大小
                            type: 'line',

                            itemStyle: {

                                normal: {
                                    label : {
                                        show: true,

                                        formatter: '{c}%',
                                        textStyle: {
                                            fontFamily: 'PingFangSC-Regular',
                                            fontSize: 12,
                                            color: 'rgba(0,0,0,0.85)',
                                            letterSpacing: 0.06,
                                            // backgroundColor:'#E1E7FD',
                                        }
                                    },
                                    color:'#0AA200',
                                    lineStyle:{
                                        color:'#0AA200',
                                    },

                                },
                            },
                            textStyle:{
                                fontFamily: 'PingFangSC-Regular',
                                fontSize: 12,
                                color: 'rgba(0,0,0,0.85)',
                                letterSpacing: 0.06,
                            },
                        }]
                    }
                    myChart3.setOption(option3,true);
                    window.addEventListener("resize",function () {
                        myChart3.resize();
                    });
                    myChart3.clear();
                    myChart3.setOption(option3,true);


                }

            </script>
        </div>

    </div>

</div>







</body>


<!--</script>-->
<script type="text/javascript" th:inline="javascript">
    //移动端active无反应
    document.body.addEventListener('touchstart',function(){},false)
   // setInterval(function () {
   //
   //     // 装载局部刷新返回的页面
   //     $('#content_demo').load('saksafsSystabData');
   //
   //
   // },30*1000);
</script>
<!--<script>-->
<!--    window.onload = function () {-->
<!--        /*375代表设计师给的设计稿的宽度，你的设计稿是多少，就写多少;-->
<!--        100代表换算比例，这里写100是为了以后好算,-->
<!--        比如，你测量的一个宽度是100px,就可以写为1rem,以及1px=0.01rem等等*/-->
<!--        getRem(768, 100)-->
<!--    };-->
<!--    window.onresize = function () {-->
<!--        getRem(768, 100)-->
<!--    };-->

<!--    function getRem(pwidth, prem) {-->
<!--        var html = document.getElementsByTagName("html")[0];-->
<!--        var oWidth = document.body.clientWidth || document.documentElement.clientWidth;-->
<!--        html.style.fontSize = oWidth / pwidth * prem + "px";-->
<!--    }-->
<!--</script>-->
</html>